### Experiment 1b

In [1]:
expr = input('Expression to Calulcate : ')
print(f'{expr} = {eval(expr)}')

Expression to Calulcate : 67+45*789
67+45*789 = 35572

### Experiment 2a

In [2]:
my_string = 'Hi, My name is SatyaAjay'

In [3]:
my_string

'Hi, My name is SatyaAjay'

In [4]:
print(my_string)

Hi, My name is SatyaAjay

### Experiment 2b

In [5]:
my_string + my_string

'Hi, My name is SatyaAjayHi, My name is SatyaAjay'

In [6]:
my_string*3

'Hi, My name is SatyaAjayHi, My name is SatyaAjayHi, My name is SatyaAjay'

In [7]:
my_string + ' ' + my_string

'Hi, My name is SatyaAjay Hi, My name is SatyaAjay'

In [8]:
((my_string + ' ')*3).strip()

'Hi, My name is SatyaAjay Hi, My name is SatyaAjay Hi, My name is SatyaAjay'

### Experiment 3a

In [9]:
my_sent = ['My','name','is','Satya', 'Ajay', '.']

In [10]:
string = ' '.join(my_sent)
string

'My name is Satya Ajay .'

### Experiment 3b

In [11]:
string.split(' ')

['My', 'name', 'is', 'Satya', 'Ajay', '.']

### Imports

In [2]:
import nltk
from nltk.book import text6
text6

*** Introductory Examples for the NLTK Book ***
Loading text1, ..., text9 and sent1, ..., sent9
Type the name of the text or sentence to view it.
Type: 'texts()' or 'sents()' to list the materials.
text1: Moby Dick by Herman Melville 1851
text2: Sense and Sensibility by Jane Austen 1811
text3: The Book of Genesis
text4: Inaugural Address Corpus
text5: Chat Corpus
text6: Monty Python and the Holy Grail
text7: Wall Street Journal
text8: Personals Corpus
text9: The Man Who Was Thursday by G . K . Chesterton 1908

### Experiment 4a

In [3]:
tokens = text6.tokens
print(f'No of Tokens : {len(tokens)}')
print(tokens[:50])

No of Tokens : 16967
['SCENE', '1', ':', '[', 'wind', ']', '[', 'clop', 'clop', 'clop', ']', 'KING', 'ARTHUR', ':', 'Whoa', 'there', '!', '[', 'clop', 'clop', 'clop', ']', 'SOLDIER', '#', '1', ':', 'Halt', '!', 'Who', 'goes', 'there', '?', 'ARTHUR', ':', 'It', 'is', 'I', ',', 'Arthur', ',', 'son', 'of', 'Uther', 'Pendragon', ',', 'from', 'the', 'castle', 'of', 'Camelot']

In [4]:
lst = list(set(filter(lambda x: x.endswith('ise'),tokens)))
print(lst)

['wise', 'noise', 'apologise', 'surprise']

### Experiment 4b

In [5]:
lst = list(set(filter(lambda x: 'z' in x,tokens)))
print(lst)

['zone', 'frozen', 'zoop', 'Fetchez', 'amazes', 'zoosh', 'zhiv', 'zoo']

### Experiment 4c

In [6]:
lst = list(set(filter(lambda x: 'pt' in x,tokens)))
print(lst)

['Thppt', 'Thpppt', 'Chapter', 'empty', 'ptoo', 'Thpppppt', 'excepting', 'temptation', 'temptress', 'Thppppt', 'aptly']

### Experiment 4d

In [17]:
lst = list(filter(lambda x: x.istitle(), tokens))
print(f'No of Title Case Words : {len(lst)}')
print(lst[:50])

No of Title Case Words : 2672
['Whoa', 'Halt', 'Who', 'It', 'I', 'Arthur', 'Uther', 'Pendragon', 'Camelot', 'King', 'Britons', 'Saxons', 'England', 'Pull', 'I', 'Patsy', 'We', 'Camelot', 'I', 'What', 'Ridden', 'Yes', 'You', 'What', 'You', 'So', 'We', 'Mercea', 'Where', 'We', 'Found', 'In', 'Mercea', 'The', 'What', 'Well', 'The', 'Are', 'Not', 'They', 'What', 'A', 'It', 'It', 'It', 'A', 'Well', 'Will', 'Arthur', 'Court']